<a href="https://colab.research.google.com/github/fozia-lucky/Thesis/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Necessary Library

In [ ]:
import pandas as pd
import numpy as np
import statistics as state
import seaborn as sns
from sklearn import preprocessing
from collections import Counter
import matplotlib.pyplot as plt
from math import e
import math

Loading the data set

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Fianldata.csv to Fianldata.csv

In [ ]:
df = pd.read_csv("Fianldata.csv")
df

           Acc_X      Acc_Y     Acc_Z  class
0       2.660984  -9.653030  0.470237      1
1       2.223091   2.223091  2.223091      1
2       2.098372  -9.481953  0.926070      1
3       2.716461  -9.739352  0.912008      1
4       2.288388  -9.371498  0.910390      1
...          ...        ...       ...    ...
202821 -6.006237  -3.378271  4.406089     29
202822 -3.689065  -8.289723  3.665323     29
202823 -2.437402 -12.345160  0.565022     29
202824 -5.793968 -10.766126 -0.083198     29
202825 -4.507253 -11.620029  1.723032     29

[202826 rows x 4 columns]

Mean,Median,Variance,Standard Deviation

In [ ]:
df=df.eval('Mean = (Acc_X+Acc_Y+Acc_Z)/3')
df['Median']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].median(axis=1)
df['Variance']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].var(axis=1)
df['Standard_Deviation']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].std(axis=1)
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408
...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393

Root mean Square (RMS)

In [ ]:
for index, row in df.iterrows():
     rms=np.sqrt(((df['Acc_X'] ** 2) + (df['Acc_Y'] ** 2) +(df['Acc_Z'] ** 2))/3)
df['RMS']=rms
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr,RMS
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67,5.787427
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00,2.223091
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67,5.632294
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67,5.861339
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67,5.594357
...,...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33,4.722331
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33,5.649876
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33,7.272394
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00,7.058953
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33,7.264279

Q1,Q3

In [ ]:
sort=np.sort(df.loc[:,['Acc_X','Acc_Y','Acc_Z']],axis=1)

q3=[]
q1=[]
for x in sort:

    q3x,q1x= np.percentile(x,[75,25])
    q3.append(q3x)
    q1.append(q1x)
df['Q3']=q3
df['Q1']=q1
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554
...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641

zero-Ceossing Rate(zcr)

In [ ]:
def getZCR(arr):
        my_array = np.array(arr)
        return float("{0:.2f}".format((((my_array[:-1] * my_array[1:]) < 0).sum())/len(arr)))
zcr=[]
arr2=np.array(df.loc[:,['Acc_X','Acc_Y','Acc_Z']])


for x in arr2:
    zcr.append(getZCR(x))
df['zcr']=zcr
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67
...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33

MCR

In [ ]:

    
def getMCR(arr):
    return getZCR(np.array(arr) - np.mean(arr))

MCR=[]
arr2=np.array(df.loc[:,['Acc_X','Acc_Y','Acc_Z']])

for x in arr2:
        MCR.append(getMCR(x))

df['MCR']=MCR
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr,RMS,MCR
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67,5.787427,0.67
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00,2.223091,0.00
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67,5.632294,0.67
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67,5.861339,0.67
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67,5.594357,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33,4.722331,0.33
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33,5.649876,0.33
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33,7.272394,0.67
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00,7.058953,0.33
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33,7.264279,0.67

Entrophy

In [ ]:
def entropy4(labels, base=None):
    value,counts = np.unique(labels, return_counts=True)
    norm_counts = counts / counts.sum()
    base = e if base is None else base
    return -(norm_counts * np.log(norm_counts)/np.log(base)).sum()

y=[]
sort=np.sort(df.loc[:,['Acc_X','Acc_Y','Acc_Z']],axis=1)

for x in sort:
    y.append(entropy4(x))
df['Entropy']=y
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr,RMS,MCR,Entropy
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67,5.787427,0.67,1.098612
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00,2.223091,0.00,-0.000000
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67,5.632294,0.67,1.098612
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67,5.861339,0.67,1.098612
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67,5.594357,0.67,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33,4.722331,0.33,1.098612
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33,5.649876,0.33,1.098612
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33,7.272394,0.67,1.098612
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00,7.058953,0.33,1.098612
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33,7.264279,0.67,1.098612